.account-container {
    text-align: center;
}

.account-main {
    border: 1px solid;
    width: 50%;
    margin: auto;
    border-radius: 20px;
}

.account-main>h3 {
    margin: 20px;
}

.account-main>img {
    margin: 20px;
    border-radius: 50%;
}

.account-main>button {
    margin: 20px;
    width: 200px;
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}