body {
    font-family: 'Arial', sans-serif;
}
p,
h3 {
    padding: 0;
    margin: 0;
}

.container {
    height: 90vh;
    max-width: 1024px;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}



.container>input {
    /* padding: 16px; */
    appearance: none;
    width: 320px;
    border-radius: 8px;
    margin: 15px;
}

.products-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.product-detail-card {
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    width: 360px;
    height: 90vh;
    position: fixed;
    left: 0;
    bottom: 0;
}
.cartbox-detail-card {
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    width: 360px;
    height: 90vh;
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
}

.product-detail-card {
    display: flex;
}

.noResults {
    width: 80px;
    height: 80px;
    margin: auto;
}

.noResults>p {
    width: 200px;
    transform: translateX(-30%);
    margin-top: 10px;
    font-weight: 600;
}

@media (max-width: 639px) {
    .products-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media (min-width: 640px) and (max-width: 767px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 768px) and (max-width: 1280px) {

    .products-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* 
width: 200px;
    transform: translateX(-30%);
    border: 1px solid;
    margin-top: 10px;
    font-weight: 600; */